{
  "endOfLine": "auto",
  "importOrder": [
    "^@react(.*)$",
    "^@remix(.*)$",
    "^@polestar(.*)|^@polestar/(.*)",
    "^~/(.*)$",
    "^[./].*$"
  ],
  "importOrderCaseInsensitive": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 100,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ],
  "trailingComma": "none"
}
